:root{
  --bg-color: #F7F7F7;
  --e-bg-color: #0A2042;
  --active-color: #FFFFFF
  --text-color: #000000;
  --e-text-color: #FFFFFF;
  --accent-color: linear-gradient(90deg, #E5641B 0%, #e6af22f2 100%);
  --e-accent-color: linear-gradient(90deg, #A24E78 0%, #FC4C44 100%);
  --contrast-color: #EBEDF1;
  --e-contrast-color: #080D34;
}

/*=============MAIN=============*/

body{
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}

h1{
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
}

h2{
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

h3{
  font-weight: 900;
}

ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

p{
  margin: 0;
}

video{
  object-fit: cover;
}

a{
  color: #FFFFFF;
  text-decoration: none;
}
a:hover{
  color: #E5641B;
  text-decoration: none;
  transition: all .2s ease;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 25px;
}


/*=============CUSTOM-ITEMS=============*/

.fix-height{
  height: 100vh;
}

.bg{
  background-color: var(--bg-color);
}

.e-bg{
  background-color: var(--contrast-color);
}

.f-bg{
  background-color: #000000;
  color: var(--e-text-color);
}

.btn-prop{
  width: auto;
  display: flex;
  padding: 1.2em 1rem;
  cursor: pointer;
  gap: 0.4rem;
  font-weight: bold;
  border-radius: 45px;
  background: linear-gradient(15deg, #E5641B, #e6af22f2, #E5641B) no-repeat;
  background-size: 300%;
  color: #fff;
  border: none;
  background-position: left center;
  transition: background .3s ease;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
}
.btn-prop:hover {
  background-size: 320%;
  background-position: right center;
}

.btn-prop-outline{
  width: auto;
  display: flex;
  padding: 1.2em 1rem;
  cursor: pointer;
  gap: 0.4rem;
  font-weight: bold;
  border-radius: 45px;
  background: transparent;
  background-size: 300%;
  color: var(--text-color);
  border: 2px solid #E5641B;
  background-position: left center;
  transition: all .3s ease;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.btn-prop-outline:hover {
  background-size: 320%;
  background-position: right center;
  background: #E5641B;
  transition: all .3s ease;
  color: var(--e-text-color);
}

.e-btn-prop{
  width: auto;
  display: flex;
  padding: 1.2em 1rem;
  cursor: pointer;
  gap: 0.4rem;
  font-weight: bold;
  border-radius: 45px;
  background: linear-gradient(15deg, #A24E78, #FC4C44, #A24E78) no-repeat;
  background-size: 300%;
  color: #fff;
  border: none;
  background-position: left center;
  transition: background .3s ease;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
}
.e-btn-prop:hover {
  background-size: 320%;
  background-position: right center;
}

.event-photo-btn{
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  border: 0px;
  transition: all 0.3s ease;
}
.event-photo-btn:hover{
  scale: .95;
}

.photo-btn{
  background-color: transparent;
  border: 3px solid #FFFFFF;
  border-radius: 30px;
  color: #FFFFFF;
}

/*.btn-prop-outline{
  background: var(--bg-color);
  border: 2px solid #E5641B;
  border-radius: 45px;
  color: var(--text-color);
  font-weight: 600;
  transition: .2s linear;
}
.btn-prop-outline:hover{
  background: var(--accent-color);
  border: 2px solid #E5641B;
  color: var(--e-text-color);
}
.btn-prop-outline:focus{
  background: var(--accent-color);
  color: var(--e-text-color);
  transition: .2s linear;
}*/

.img-rounded{
  border-radius: 30px;
}

.container-search {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
}

.mainbox {
  box-sizing: border-box;
  position: relative;
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  background: var(--accent-color);
  transition: all 0.3s ease;
}

.checkbox:focus {
  border: none;
  outline: none;
}
.checkbox:checked {
  right: 10px;
}
.checkbox:checked ~ .mainbox {
  width: 50px;
  background: transparent;
  transition: all 0.3s ease;
}
.checkbox:checked ~ .mainbox .search_input {
  width: 0;
  height: 0px;
}
.checkbox:checked ~ .mainbox .iconContainer {
  padding-right: 8px;
}
.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
}
.search_input {
  box-sizing: border-box;
  height: 100%;
  width: 170px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 1em;
  color: white;
  transition: all 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search_input::placeholder {
  color: rgba(255, 255, 255, 0.776);
}

.iconContainer {
  box-sizing: border-box;
  width: fit-content;
  transition: all 0.3s ease;
}

.search_icon {
  box-sizing: border-box;
  fill: white;
  font-size: 1.3em;
}

.price{
  font-weight: 700;
  color: #E5641B;
}

.search-icon{
  background-image: url(../img/ico/search-icon-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  height: 25px;
  width: 25px;
  transition: all 0.3s ease-in-out;
}
.search-icon-dark{
  background-image: url(../img/ico/search-icon-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  height: 25px;
  width: 25px;
  transition: all 0.3s ease-in-out;
}


/*=============ICO=============*/

.geo-ico{
  border-radius: 100px;
  max-width: 40px;
  max-height: 40px;
}

.card-ico{
  width: 65px;
  height: 65px;
  display: block;
  margin: 0 auto;
}

.tutor-ico{
  width: 190px;
  height: 190px;
  margin: 0 auto;
}

/*=============INTRO=============*/

.intro{
  background-image: url(../img/intro.gif);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--e-text-color);
  /*position: relative;
  z-index: 1;*/
}
.intro_video{
  position: absolute;
}

.intro-video{
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.text-bg-dark {
  color: #fff !important;
  background-color: var(--e-bg-color) !important;
}

.navbar-toggler {
  border: 0px solid var(--bs-navbar-toggler-border-color);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}


/*=============NAVBAR SCROLL=============*/

.nav-link{
  color: var(--e-text-color) !important;
  opacity: .6;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover{
  opacity: 1;
}

.navbar-logo{
  background-image: url(../img/ico/logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 75px;
  width: 75px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.navbar-logo-colorful{
  background-image: url(../img/ico/logo-color.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 75px;
  width: 75px;
  display: block;
  transition: all 0.3s ease-in-out;
}

.navbar-back{
  background-color: transparent;
  color: var(--e-text-color);
  transition: all 0.3s ease-in-out;
}

.navbar-back-white{
  background-color: #FFFFFF;
  color: var(--text-color) !important;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .075);
}
.navbar-back-white a{
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.navbar-back-white p{
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
  opacity: 1;
}


/*=============TIPS=============*/

.ul-tips{
  list-style-type:disc;
  padding-left: 1.2rem;
}


/*=============PROF-TIPS=============*/

.ul-prof{
  list-style-type:decimal;
  font-weight: 900;
  padding-left: 1.2rem;
}


/*=============CARDS=============*/

.card-button{
  border: 0px;
  background: transparent;
  border-radius: 30px;
}

.card-style{
  background-color: #fff;
  border-radius: 30px;
  border: 0px;
  height: 100%;
  transition: all .3s;
  cursor: pointer;
}
.card-style:hover{
  transform: scale(.95);
}
#task .card-style{
  cursor: auto;
}
#task .card-style:hover {
  transform: none;
}

.card-header{
  font-weight: 900;
  text-align: center;
}

.card-des{
  text-align: center;
  margin: 0;
}

.tutor-header{
  font-weight: 900;
  text-align: left;
}

.tutor-des{
  text-align: left;
  margin: 0;
}

/*=============REVIEWS=============*/

.youtube {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
}
.youtube .play {
  background: url('../img/youtube-play-btn.png') no-repeat; /*ВАЖНО: здесь укажите адрес до изображения*/
  background-position: 0 -50px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  height: 50px;
  width: 69px;
  transition: none;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}
.youtube:hover .play {
  background-position: 0 0;
}


/*=============FAQ=============*/

.accordion-button{
  background-color: transparent;
  font-weight: 600;
  border-bottom: 2px solid #000000;
  padding-left: 0px;
  padding-right: 0px;
}
.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: transparent;
  box-shadow: 0;
}
.accordion-button:focus {
  border-color: #000000;
  outline: 0px;
  box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-item{
  background-color: transparent;
  border: 0px;
}


/*=============INTRO-EVENTS=============*/

.intro-events{
  background-color: var(--contrast-color);
  background-image: url(../img/events-banner.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  color: var(--e-text-color);
}


/*=============MAPS=============*/

.map{
  height: 100%;
}


/*=============SEARCH=============*/

.search-label{
  background-color: #FFFFFF;
  border: 0px;
  border-radius: 30px;
}

.search-control{
  background-color: transparent;
  border: 0px;
}
.search-control:focus{
  border: 0px;
  box-shadow: none;
}

/*=============COURSE=============*/

.course-des{
  color: #E5641B;
  font-weight: 700;
}


/*=============MEDIA=============*/

@media (max-width: 1200px) {
  .intro-events{
    background-color: var(--contrast-color);
    background-image: url(../img/events-banner.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
  }

  .navbar-logo, .navbar-logo-colorful{
    scale: 0.7;
  }

  .btn-course{
    width: 100%;
  }
}